<mdl-layout
  #mdlLayput="mdlLayout"
  mdl-layout-fixed-header>
  <mdl-layout-header mdl-layout-header-transparent>
    <mdl-layout-header-row>
      <mdl-layout-title>Title</mdl-layout-title>
      <mdl-layout-spacer></mdl-layout-spacer>
      <!--mdl-layout-spacer 自动占据剩余空间-->
      <nav class="mdl-navigation">
        <a *ngIf="!(auth$|async).hasError"
          class="mdl-navigation__link">Todo</a>
        <a (click)="login()"
           *ngIf="(auth$|async).hasError"
           class="mdl-navigation__link">Login</a>
        <a class="mdl-navigation__link"
           *ngIf="(auth$|async).hasError"
           (click)="register()">
          Register</a>
        <a (click)="logout()"
           *ngIf="!(auth$|async).hasError"
           class="mdl-navigation__link">Logout
        </a>
        <a routerLink="rxjs" class="mdl-navigation__link">rxjs</a>
        <a routerLink="github" class="mdl-navigation__link">github</a>
      </nav>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-drawer>
    <mdl-layout-title>
      Todos
    </mdl-layout-title>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link"
         routerLink="playground">playGround
      </a>
    </nav>
    <nav class="mdl-navigation">
      <a routerLink="login" class="mdl-navigation__link"
         >Login</a>
    </nav>
    <nav class="mdl-navigation"><a routerLink="form-demo" class="mdl-navigation__link">form-demo</a></nav>
  </mdl-layout-drawer>
  <mdl-layout-content>
    <router-outlet></router-outlet>
  </mdl-layout-content>
</mdl-layout>
<app-animation-ball></app-animation-ball>
