/* You can add global styles to this file, and also import other style files */

ul,li,p{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html,body {
  width: 100%;
  font-family: "icon-bass";
  font-style:normal;
  font-size:24px;
  height: 100vh;
  margin: 0;
  color: #4a4a4a;
}

i {
  //display: inline-block;
  font-style: normal;
  font-family: "icon-bass";
}

body{
  overflow: scroll;
  position: relative;
  /*background-color: #d6d6d6;*/
}

@import "~@angular-mdl/core/scss/_color-definitions";


$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-deep_purple-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~@angular-mdl/core/scss/material-design-lite';

